<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
  <title>Tiny App - Error</title>
</head>
<header><%- include('partials/_header') %></header>
<body>
  <div>
    <h3>We are very sorry but you seem to have encountered the following error:</h3>
    <h6><% error %></h6>
  </div>
</body>
</html>